<!DOCTYPE html>
<html>
  <head>
    <title>Viviri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
	<nav id="mainnav">
		<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
		<div class="panel">
			<ul>
				<li><%= link_to 'Top', root_path(anchor: '#sec00') %></li>
				<li><%= link_to 'NEWS', root_path(anchor: '#sec01') %></li>
				<li><%= link_to "AUDITION" ,audition_index_path%></li>
				<li><%= link_to 'COMPANY', root_path(anchor: '#sec02') %></li>
				<li><%= link_to 'CONTACT', root_path(anchor: '#sec03') %></li>
			</ul>
		</div>
	</nav>
    <%= link_to image_tag("top-img.png",class:"top-img"), "/" %>
    <%= link_to image_tag("top-img-small.png",class:"top-img-small"), "/" %>
    <%= yield %>
  <!-- // footer -->
	<footer id="footer">
    Copyright ©　2021 LLC.viviri All Rights Reserved.
	</footer>
  </body>
</html>
